# How to Insert a Node in the Binary Search Tree?
https://www.scaler.com/topics/binary-search-tree-python/

In [390]:
# A class that represents the individual node in a BST.
class TreeNode:
    def __init__(self, key):
        self.key = key
        self.l = None
        self.r = None

# Function to insert a new node with the given key.
def new_key_insert(root, new_key):
    if root is None:
        root = TreeNode(new_key)
        return root
    if new_key < root.key:
        root.l = new_key_insert(root.l, new_key)
    else:
        root.r = new_key_insert(root.r, new_key)
    return root

# Function to display the output of the tree
def display(root):
    if root:
        display(root.l)
        print(root.key)
        display(root.r)


r = TreeNode(50)
r = new_key_insert(r, 30)
r = new_key_insert(r, 20)
r = new_key_insert(r, 40)
r = new_key_insert(r, 70)
r = new_key_insert(r, 60)
r = new_key_insert(r, 80)

display(r)

20
30
40
50
60
70
80

# Fibonacci Sequence

In [392]:
import numpy as np

In [393]:
fibonacci_array = [0,1,1]
for n in range(3,100):
    # fibonacci_array = [0,1,1]
    # print(n)
    new_value = fibonacci_array[n-1]  + fibonacci_array[n-2] 
    # print(new_value)
    fibonacci_array.append(new_value)
    # print(fibonacci_array)

In [395]:
fibonacci_array[9]

34

## keep only the odd numbers from a list

In [420]:
original_list = [1,2,3,4,5,6,7,8,9,10,11,12]

def keep_odd(n):
    new = n/2
    if n//2 == n/2:
        return n

In [423]:
new_list = []
for n  in original_list:
    if keep_odd(n):
        new_list.append(keep_odd(n))

In [424]:
new_list

[2, 4, 6, 8, 10, 12]

# Question #1 - FizzBuzz

In [68]:
def FizzBuzz(n):
    string_array = []
    for i in range(1,n):
        if i%3==0 and i%5==0:
            string_array.append('FizzBuzz')
            print('both')
        elif i%5==0:
            string_array.append('Buzz')
            print("5")
        elif i%3==0 :
            string_array.append('Fizz')
            print("3")
        else :
            string_array.append(i)
    return string_array

In [69]:
FizzBuzz(16)

3
5
3
3
5
3
both

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz']

# Question #2 - Reverse an Integer
Problem description: Given a signed (positive or negative) integer x, return x with its digits reversed. The input integer x must be in range [-2^31, 2^31 - 1] - return 0 if it isnâ€™t.

In [145]:
n = -1200
if n<0:
    n = n*-1
result = 21

# step 1, number to string
ns = str(n)
# string lengh
ns_len = len(str(n))
# create a list 
n_list = []

for i in range(0,ns_len):
    i_ = ns_len-i-1
    # print(i_)
    currrent_digit = ns[i_]
    print(str(i_),str(currrent_digit))
    # remove if last digit is zero
    if n%10**(i+1)>0:
        n_list.append(ns[i_])
    print(n_list)

3 0
[]
2 0
[]
1 2
['2']
0 1
['2', '1']

# Question #3 - Find the First Unique Character in a String

In [240]:
input_string = 'armarlo'

dic_letters = {}
string_len = len(input_string)

# create dictionary
for l in input_string:
    print(l)
    if l not in dic_letters:
        print("not in")
        dic_letters[l] = 1
    else:
        print("in")
        dic_letters[l] = dic_letters[l] + 1

# find the first unique character

# dic_letters = {}
for i in range(0,string_len):
    if dic_letters[input_string[i]] ==1:
        print('order'+ str(i) + ' value: ' + input_string[i])
        
    else:
        print('next')

# Question #4 - Defanging an IP Address

# Question #5 - Check if a String is an Anagram
1. check if the len of the words is the same
2. check if the words unsorted are the same, create a dictionary with the number of letters

In [288]:
word_1 = 'Keen'
word_1_low = word_1.lower()
word_2 = 'Knee'
word_2_low = word_2.lower()
dict_1 = {}
dict_2 = {}
for w in word_1_low:
    print(w)
    if w not in dict_1:
        dict_1[w] = 1
    else :
        dict_1[w] = dict_1[w] + 1

for w in word_2_low:
    print(w)
    if w not in dict_2:
        dict_2[w] = 1
    else :
        dict_2[w] = dict_2[w] + 1

dict_1 == dict_2

k
e
e
n
k
n
e
e

In [296]:
def anagram(word_1,word_2):
    word_1_low = word_1.lower()
    word_2_low = word_2.lower()
    dict_1 = {}
    dict_2 = {}
    for w in word_1_low:
        # print(w)
        if w not in dict_1:
            dict_1[w] = 1
        else :
            dict_1[w] = dict_1[w] + 1

    for w in word_2_low:
        # print(w)
        if w not in dict_2:
            dict_2[w] = 1
        else :
            dict_2[w] = dict_2[w] + 1

    if dict_1 == dict_2:
        print('is an anagram')
    else:
        print('not an anagram')

In [297]:
anagram('Keen','Knee')

is an anagram

# Question #6 - Check if String is a Palindrome

1. all to lower case
2. read the string and store it in an array

In [267]:
input_palindrome = 'level'
input_array = []
for l in input_palindrome:
    print(l)
    input_array.append(l)

# read backwards the input
input_palindrome_len = len(input_palindrome)

# create second array
backwards_array = []
for i in range(input_palindrome_len):
    print(input_palindrome_len-i)
    backwards_array.append(input_palindrome[input_palindrome_len-i-1])

# compare both arrays
if input_array == backwards_array:
    print('palindrome found')

l
e
v
e
l
5
4
3
2
1
palindrome found

In [277]:
def palindromes(input_palindrome):
    input_array = []
    input_palindrome = input_palindrome.lower()
    for l in input_palindrome:
        # print(l)
        input_array.append(l)

    # read backwards the input
    input_palindrome_len = len(input_palindrome)

    # create second array
    backwards_array = []
    for i in range(input_palindrome_len):
        # print(input_palindrome_len-i)
        backwards_array.append(input_palindrome[input_palindrome_len-i-1])

    # compare both arrays
    if input_array == backwards_array:
        print('palindrome found')
    else:
        print('not palindrome')

In [278]:
palindromes('Kayak')

palindrome found

# Question #7 - Calculate a Factorial Using Recursion

A factorial of a number is the product of all the integers from that number to 1. For example, the factorial of 5, or 5! is 5*4*3*2*1 = 120. Factorials are not defined for negative numbers and the factorial of zero is one.

In [304]:
number = 7
final_number = 1
for n in range(number):
    nn = number - n
    final_number = final_number*nn
    print(nn)

final_number

7
6
5
4
3
2
1

5040

In [310]:
def factorial(number):
    if number<0:
        final_number = -1
    else:
        final_number = 1
        for n in range(number):
            nn = number - n
            final_number = final_number*nn
    return final_number

factorial(3)

6

# remove the duplicates of a list

In [370]:
input = ['a','b','c','c','c','d']

In [371]:
input_len = len(input)
for n in range(input_len):
    order =  n  + 1
    l = input[n] 
    if input[n] in input[order:]:
        print(input[order:])
        input.remove(l)
        input.append('removed')
        print('removing ' + l)
    else:
        print('')
input.remove('removed')

['c', 'c', 'd']
removing c

In [372]:
input

['a', 'b', 'c', 'c', 'd']

In [340]:
input

['b', 'c', 'c', 'd']

# find the max of a list

In [313]:
numbers = [1,2,3,4,5,6,5,4,9,2,1]
max(numbers)

9

In [373]:
a=0
for b in range(0,10,2):
    a += b+1

In [376]:
for b in range(0,10,2):
    print (b)

0
2
4
6
8

In [378]:
(100+90)/2.0

95.0

# Testdome 1

a company stores login data and passwords in two different containers:
- DataFrame with columns: id, login, verified.
- two-dimensional Numpy array where each elemint is an array that contains: id and password

implement the function login_table that accespts these two containers and modifies id_name_verified datframe in=place so that:

- the virified column should be removed
- the password from numpy should be added as the last column with then name Password

In [379]:
import pandas as pd
import numpy as np

def login_table(id_name_verified, id_password):
    """
    :param id_name_verified: (DataFrame) DataFrame with columns: Id, Login, Verified.   
    :param id_password: (numpy.array) Two-dimensional NumPy array where each element
                        is an array that contains: Id and Password
    :returns: (None) The function should modify id_name_verified DataFrame in-place. 
              It should not return anything.
    """   
    pass

id_name_verified = pd.DataFrame([[1, "JohnDoe", True], [2, "AnnFranklin", False]], columns=["Id", "Login", "Verified"])
id_password = np.array([[1, 987340123], [2, 187031122]], np.int32)
login_table(id_name_verified, id_password)
print(id_name_verified)

   Id        Login  Verified
0   1      JohnDoe      True
1   2  AnnFranklin     False

In [387]:
def login_table(id_name_verified, id_password):
    """
    :param id_name_verified: (DataFrame) DataFrame with columns: Id, Login, Verified.   
    :param id_password: (numpy.array) Two-dimensional NumPy array where each element
                        is an array that contains: Id and Password
    :returns: (None) The function should modify id_name_verified DataFrame in-place. 
              It should not return anything.
    """   
    
    pass_df = pd.DataFrame(id_password)
    pass_df.columns = ['Id','Password']
    pass_df

    out_df = pd.merge(id_name_verified,
                    pass_df,
                    how='inner',
                    left_on='Id',
                    right_on='Id')
    return out_df[['Id','Login','Password']]

In [388]:
login_table(id_name_verified, id_password)

   Id        Login   Password
0   1      JohnDoe  987340123
1   2  AnnFranklin  187031122